@font-face {
  font-family: github;
  src: url('../media/fonts/github.ttf');
}

@font-face {
  font-family: linkedin;
  src: url('../media/fonts/linkedin.ttf');
}

@font-face {
  font-family: leftclick;
  src: url('../media/fonts/left.ttf');
}

@font-face {
  font-family: rightclick;
  src: url('../media/fonts/right.ttf');
}

/*===================================
/*HTML/BODY*/

html  {
  height: 2000px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
  color: #2BA9DA;
  background-image: url('https://images2.alphacoders.com/480/480530.png');
}

/*===================================
/*HEADER/NAV*/


h1 {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 3em;
  opacity: .2;
  margin-bottom: 1%;
}

ul {
  text-align: center;
  margin-left: 10%;
  display: inline-block;
}

li {
  border-right: 1px solid #e4d9e5; 
  display: inline-block;
  list-style: none;
  padding: 0 1em;
}

li:nth-child(3) {
  font-family: github;  
}

li:last-child {
  border: none;
  font-family: linkedin;
}

/*===================================
/*LINKS*/

a {
  text-decoration: none;
  color: white;
}

a:hover { opacity: .7; }

/*===================================
/*CUBE STRUCTURE*/


.cube-container {
    height: 200px; width: 200px;   
    position: relative;
    margin: 25% 10% 40px;
    text-align: center;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}

#cube {
    height: 100%; width: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 2s;
}

#cube figure {
    display: block;
    position: absolute; 
    height: 100%; width: 100%;
    color: #e4d9e5;
    text-align: center;
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .9;
}


figure {
    border: 2px solid #e4d9e5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .9;
}

#cube.panels-backface-invisible figure {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

/*========================================*/
/*CUBE IMAGES AND INNER TEXT*/

h2 { font-size: 2em; }

#enigmatic      { background-image: url('../media/enigmatic.png'); }
#medtrakr       { background-image: url('../media/medtrakr.png'); }
#connectfour    { background-image: url('../media/connectfour.png'); }
#space          { background-image: url('../media/planets.png'); }
#oli-and-olive  { background-image: url('../media/oliandolive.png'); }

/*========================================*/
/*CUBE ROTATIONS*/

#cube .front  { transform: rotateY(   0deg ) translateZ( 100px ); }
#cube .back   { transform: rotateX( 180deg ) translateZ( 100px ); }
#cube .right  { transform: rotateY(  90deg ) translateZ( 100px ); }
#cube .left   { transform: rotateY( -90deg ) translateZ( 100px ); }
#cube .top    { transform: rotateX(  90deg ) translateZ( 100px ); }
#cube .bottom { transform: rotateX( -90deg ) translateZ( 100px ); }



p {
  border: 1px solid #e4d9e5;
  width: 45%;
  margin: 0 auto;
  margin-top: 10%;
  padding: 1.5em;
}

/*========================================*/
/*OVERLAYS AFTER SEPARATION*/

.disabled { display: none; }

.flat-figure {
  position: absolute;
  height: 100%; width: 100%;
  display: inline-block;
  margin: 1em;
  transform-style: preserve-3d;
}

.right { transform: rotateY( 129deg ) translateZ( 100px ); }
.left { transform: rotateY( -129deg ) translateZ( 100px ); }

.left-right {
  margin: 10%;
  color: white;
  font-size: 2em;
  opacity: .5;
}

#r { font-family: rightclick; }
#r:hover { opacity: .8; }

#l { font-family: leftclick; }
#l:hover { opacity: .8; }

.overlay {
  height: 100%; width: 100%;
  opacity: .5;
  background-color: #666666;
  color: #2BA9DA;
  transform-style: preserve-3d;
}

/*========================================*/
/*INFO BOX*/

#info-box {
  margin-top: 81%;
  margin-bottom: 15%;
  width: 70%;
/*  border: 1px solid white;*/
}


/*========================================*/
/*ABOUT*/

#about {
  margin: 0;
  padding-bottom: 2em;
  height: 975px; width: 100%;
  color: #e4d9e5;
  text-align: center;
  background-color: black;
  opacity: .9;
}

#about > h2 {
  padding: 1em;
}

h4 {
  font-size: 1.75em;
  margin: 10% 10%;
}

#my-face {
  border: 1px solid #e4d9e5;
  border-radius: 70px;
  background-image: url('../media/ashleigh.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 140px; width: 140px;
  margin: 0 auto;
}

#about > ul {
  margin-top: 5%;
  padding: 1em;
}

#about > ul > li {
  font-family: 'Source Sans Pro', sans-serif;
}

span {
  color: #2C7075;
}

/*========================================*/
/*CONTACT*/

#contact {
  margin: 0;
  height: 400px; width: 100%;
  color: #e4d9e5;
  background-color: #09222C;
  opacity: .7;
}

#contact > h2 {
  margin: 0;
  padding: 1.5em;
  text-align: center;
}

#contact > h4 {
  font-size: 1.5em;
  margin: 1.5em;
  text-align: center;
  border: 1px solid white;
  padding: 1em;
}


/*========================================*/
/*MEDIA QUERIES*/

@media screen and (min-width: 480px) {
    
    h1 {
      width: 70%;
      text-align: left;
      font-size: 4em;
      padding-left: .5em;
    }

    ul {
      margin-right: 0;
      margin-left: auto;
    }

    .cube-container {
      margin: 12% auto 40px;
    }

    #info-box {
      margin-top: 35%;
    }

    #about {
      height: 820px; 
    }

    #contact > h4 {
      font-size: 1.75em;
    }
}
