html  {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
  color: #e4d9e5;
  background-image: url('https://images2.alphacoders.com/480/480530.png');
}

header {
  width: 100%; height: 2em;
}



li {
  display: inline-block;
  list-style: none;
  padding: 0 1em;
}


li:first-child {
  border-right: 1px solid #e4d9e5; 
}


a {
  text-decoration: none;
  color: #e4d9e5;
}

a:hover {
  color: #3BB0A7;
}

/*===================================*/
/*CUBE*/


.cube-container {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto 40px;
    text-align: center;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}

#cube {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 2s;
}

#cube figure {
    display: block;
    position: absolute; 
    height: 100%; width: 100%;
    border: 2px solid red;
    color: #e4d9e5;
    text-align: center;
    background-color: #000000;
    opacity: .9;
}

#cube.panels-backface-invisible figure {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1em;
}


#about {
  background-color: #000000;
  opacity: .7;
}


#enigmatic {
  background-image: url('../media/enigmatic.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

#medtrakr {
  background-image: url('../media/medtrakr.png');
  background-size: 100%;
  background-repeat: no-repeat;
}


#connectfour {
  background-image: url('../media/connectfour.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

#space {
  background-image: url('../media/planets.png');
  background-size: 100%;
  background-repeat: no-repeat;
}



#cube .front  { transform: rotateY(   0deg ) translateZ( 100px ); }
#cube .back   { transform: rotateX( 180deg ) translateZ( 100px ); }
#cube .right  { transform: rotateY(  90deg ) translateZ( 100px ); }
#cube .left   { transform: rotateY( -90deg ) translateZ( 100px ); }
#cube .top    { transform: rotateX(  90deg ) translateZ( 100px ); }
#cube .bottom { transform: rotateX( -90deg ) translateZ( 100px ); }


